@import url("geral.css");
body{
    background: linear-gradient(90deg, var(--dark-bg) 64%, var(--neon-roxo));
}

header{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.menuHamburguer{
    display: none;
} 